@charset "UTF-8";
 *{
    margin: 0px;
    padding: 0px;
     box-sizing: border-box;
 }
 body
  {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
    color: white;
   
 }
.container{
    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 80px 40px 1fr 40px;
    height: 100vh;
    width: 100vw;
    gap: 5px;
   

}
.item{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
#topo{
   grid-row: 1/2;
   grid-column: 1/4;
}
#menu{
  grid-row: 2/3;
  grid-column: 1/4;
}
#principal{
  grid-row: 3/4;
  grid-column: 1/3;
}
#secundario{
   grid-row: 3/4;
   grid-column: 3/4;
   
   
}
#rodape{
  grid-row: 4/5;
  grid-column: 1/4;
    
}

