@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
     font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(145, 144, 144);
}
 header{
    background-color: rgb(192, 191, 191);
 }
 header  > h1 {
    padding: 10px;
    text-align: center;

 }
 #burguer{
         display: block;
         background-color: rgb(46, 46, 46);
         text-align: center; 
         padding: 10px;
         color: white;
         cursor: pointer;
 }
 #burguer:hover{
    color: rgb(46, 46,46);
    background-color: white;
 }
 menu {
    display: none;
 }
  menu > ul{
    list-style-type: none;
     text-align: center;
  }
  menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(99, 99, 99);
    color:white;
    border-top: 2px solid grey;
    
  }
  menu > ul >li > a:hover{
    background-color: darkgray;
  }

  main {
    width:90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  article > h2 {

    padding-bottom: 20px;
  }
  article > p {

    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
    

  }
