@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Damion&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Damion&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fonte1:  Arial, Helvetica, sans-serif;
    --fonte2:  "Bebas Neue", sans-serif;
    --fonte3:  "Damion", cursive;
}

* {
    margin:0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family:var(--fonte1)
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte2);
    font-size: 4.0vw;
    
}
header > h1{
    padding-top:50px ;
    font-variant: small-caps;
    
}
    header > p {
        padding-bottom: 50px;
    }
    header a {
        color: white;
        text-decoration: none;
        font-weight: bolder;

    }
    header a:hover{
        text-decoration:underline;

    }
    section.normal{
        background-color: white;
        color: black;
    }
    section.imagens{
        background-color: rgb(71, 71, 71);
        color: white;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.493);
         background-size: cover;
         background-attachment: fixed;
    }
    section.imagens > p {
        background-color: rgba(0, 0, 0, 0.26);
        display: inline-block;
        padding: 5px;
        padding-bottom: 2px;
        font-size: xx-large;
        text-shadow:  1.1px 2px 0px black;

    }
    section > p {
        padding-bottom: 2em;
    }
    section#img01{
     background-image: url(imagens/background001.jpg);
     background-position: right center;
    

    }

    section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    
    }
    section{
        padding-top: 9vh;
        padding-bottom: 9vh;
        line-height: 3em;
        padding-left: 30px;
        font-family: var(--fonte3);
        font-size: 1.5vw;
    }
    footer{
        background-color: black;
        color: white;
       text-align: center;
       padding: 10px;
    }
    footer > a{
        text-decoration: none;
        font-weight: bolder;
        color: white;
    }
   footer a:hover{
     text-decoration: underline;
   }