*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(74, 74, 197);

}
h1 {
    padding-top: 10px;
    color: white;
    text-align: center;
}
main {
    background-color: white;
    width: 30em;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    padding-bottom: 20px; 
}


section {
    padding-top: 60px;
    padding-left: 20px;
    font-size: larger;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(157, 255, 0)
}
footer{
    color: white;
    font-size: large;
    text-align: center;
}