@charset "utf-8";

body{
    background-color: rgb(228, 74, 100);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
#dint{
    margin: 30px;
    padding: 40px;
    padding-right: 10px;
  border:6px;
  border-color:white;
  border-style: solid;
  width: 250px;
  height: 300px;
   
}
