
        * {
   
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  
} html , body{

    width:  100vw;
    height: 100vh;
     background-color: rgb(62, 62, 165);
     background-size: contain;
     background-repeat: no-repeat;
}
 @media screen and (orientation: portrait) {
    body {
    background-color: darkgreen;
    background-image: url(pacote-imagens-cap25/imagens/cev-portrait.jpg);
    background-position:  center bottom;
    background-size: cover;
  
}
 }
 @media screen and (orientation: landscape) {
    body{
    background-color: yellow;
    background-image: url(pacote-imagens-cap25/imagens/cev-landscape.jpg);
    background-position: left bottom;
    background-size: cover;
}


    
 }
   