@charset "UTF-8";

body {
    background-color: rgb(95, 95, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: auto;
    text-align: center;
}
section{
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px  rgba(0, 0, 0, 0.356);
    margin: auto;


}
section p {
    color:black;
  
}
div  {
    color: black;
}

     img {
         padding-top: 15px; 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 55%;  
     }


section input {
    margin-top: 30px;
}
footer {
    font-size: x-large;
}
