@charset "UTF-8";

:root{
    --cor1: #c13341;
    --cor2: #232529;


}
*{
    padding: 0px;
    margin: 0px;

}
html, body {
    height: 100vh;
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    font-family: 'Courier New', Courier, monospace;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section#login {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 400px 
}
section#login  div#img{
    width: 100%;
    height: 15em;
    background-image: url(../Imagens/Imagem-capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
section#login div#form{
    height: 13em;
    text-align: center;
    font-size: 1.5em;
}
section#login .formulario {
   width: 20em;
   height: 2em;
   text-align: center;
   display: inline;
}
section#login span {
    color: #881d28;
    display: inline;
    
   
}
.envio{
    width: 90%;
    background-color: #c13341;
    color: white;
    border: 1px solid brown;
    padding: 10px;
    margin-top: 5px;
}
.envio:hover{
    background-color: #721620;
    transition: 0.3s;
}