@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   background-color: gray;
}

section {
    border: 1px solid white;
    height: 250px;
    width:   450px;
    margin: auto;
    margin-top: 30px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.466);
    
}
#imagem{
    background-color: black;
    border: 1px solid black;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    
    margin: auto;
    margin-top: 30px;
    

}
#Horas {
    margin-top: 10px;
}
header {
    margin-top: 30px;
}

footer {
  margin-top: 20px;
  font-size: larger;
  color: white;
}

