@charset "UTF-8" ;
  body{
    background-color: rgb(46, 46, 192);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  header > h1 {
    text-align: center;
  }
  div{
    height: 300px;
    width:  300px;
    color: rgb(1, 1, 105);
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    font-size: larger;
  } 
  footer {
    text-align: center;
  }
