@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 79, 187);
    width: 100vw;
    height: 100vh;
}
section{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 600px;

}
main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

   
}  
h1 {
    text-align: center;
}
label{
    padding-left: 9em;
    font-size: larger;

}
input {
    margin-left: 13em;
}
