@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 224, 224);
    width: 100vw;
    height: 100vh;
}
header {
    background-color: darkgray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
header h1 {
    flex: 0 0 200px;
}
nav {
   
   display: flex;
   justify-content: flex-end;
}
nav a{
 text-decoration: none;
 color: white;
 background-color: black;
 margin: 3px;
 padding: 3px;
 border-radius: 5px;
 text-align: center;


 
  
}
nav a:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

main {
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
    
    
}
section{
   
    background-color: rgb(255, 255, 255);
    
}