@charset "UTF-8";

:root{
    --verde: #49a06d;
    --Lizas: #9f2d89 ;
}
@media screen and (min-width:768px ) { 
  section#login{
    width: 80vw;
   
  }
  section#login > div#img{
    float: left;
    width: 30%;
    height: 100%;
    

  }
  section#login > div#form {
    float: right;
    width: 70%;
 }
}
@media screen and (min-width:995px ){
    section#login{
           width: 950px;
    }
     section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#form{
        float: left;
        width: 50%;
        
    }
  
}
 