.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.caixa1{
  
    grid-area: 1/1/2/span 4;
    background-color: palevioletred;
}
.caixa2{ 
   
   grid-area: 2/1/-1/span 2;
    background-color: rgb(151, 72, 151);
    
}
.caixa3{
   
    grid-area: 2/3/-1/-1;
    background-color: rgb(40, 133, 102);
}