.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}
.caixa1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: palevioletred;
}
.caixa2{ 
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(151, 72, 151);
    
}
.caixa3{
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 3;
    grid-column-end: -1;
    background-color: rgb(40, 133, 102);
}